<% include partials/header.ejs %>
<div class="container">
    <div class="container">
    <% if (message != '') { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <form class="add-player-form" action="" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="name" id="name" placeholder="Teacher Name"
                    required>
            </div>
            <div class="form-group col-md-6">
                <select name="classes" class="form-control" multiple="multiple">
                    <option selected disabled>Choose classes</option>
                        <% classes.forEach(function(item){ %>
                            <option value="<%= item.id %>"><%= item.name %></option>
                        <% }); %>

                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Add Teacher</button>
    </form>
    </div>
    </div>
    </body>
    
    </html>